<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SPKWPProdukJual" >
        <activity
            android:name=".SignupActivity"
            android:exported="false" />
        <activity
            android:name=".MenuActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityPerangkingan"
            android:exported="false" />
        <activity
            android:name=".ActivityEditAlternatif"
            android:exported="true" />
        <activity
            android:name=".ActivityDaftarKrit"
            android:exported="true"
            android:label="DAFTAR KRITERIA"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ActivityKrit"
            android:exported="true"
            android:label="EDIT KRITERIA"
            android:parentActivityName=".ActivityDaftarKrit" />
        <activity
            android:name=".ActivityAlternatif"
            android:exported="true"
            android:label="DAFTAR ALTERNATIF"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ActivityKriteria"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="Sistem Pendukung keputusan" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>